h1{
    color: red;
}
h2{
    color:darkblue;
}

li{
    color: blue;
}

i{
    color: black;
    font-size: 14px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.link{
    margin-top: 35px;
}

.images{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
img{
    max-width: 250px;
}